= content_for :title do
  Sign in
%h1
  Sign in

.row
  .small-12.medium-6.medium-centered.columns
    = form_for(:session, url: sessions_path) do |f|
      %div
        = f.label :email
        = f.text_field :email
      %div
        = f.label :password
        = f.password_field :password

      = f.submit 'Sign in', class: 'button'
