= content_for :title do
  Contact Us - Misawa Used Cars
%div#hero
  %header
    .row
      .small-6.small-centered.columns
        = image_tag 'https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/contact/header/contact.svg', onerror: "this.onerror=null; this.src='https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/contact/header/contact.png'"
      %h1
        Contact Us
      %p
        There are many ways to get in touch. Drop by the shop, give us a call, or send us an email.
= render 'general_info'
#send-us-a-message
  .row
    .small-12.small-centered.columns
      %h2
        Send us a message
%section#email-form
  .row
    .small-12.columns
    = form_for @message, url: contact_create_path, html: {  class: 'large-12 columns', data: { abide: true } } do |f|
      .row
        .sweet-honey
          = f.label :sweet_honey, "This is a honeypot, if you see this you're CSS is turned off or you're a bot. If you're not a bot don't fill it in."
          = f.text_field :sweet_honey
        .small-12.columns
          = f.label :name
          %span.user-icon
          = f.text_field( :name, placeholder: 'Name*', 'required pattern' => '[a-zA-Z]' )
          %small.error
            Name is required
        .small-12.columns
          = f.label :email
          %span.email-icon
          = f.email_field( :email, placeholder: 'Email Address*', pattern: 'email', required: true )
          %small.error
            Please enter a valid email
        .small-12.columns
          = f.label :phone
          %span.phone-icon
          = f.telephone_field( :phone, placeholder: 'Phone number' )
        .small-12.columns
          = f.label :subject
          %span.subject-icon
          = f.text_field( :subject, placeholder: 'Subject', value: @subject )
        #form-message.small-12.columns
          = f.label :body
          %span.message-icon
          = f.text_area( :body, placeholder: 'Message' )
          %small.error
            Message is required
        .small-12.columns
          = f.submit( 'Send', class: 'button small small-12 columns' )
#connect-with-us
  .div
    .row
      .small-12.small-centered.columns
        %h3
          %span
            or
          %br
          Connect with Us
  .row
    #social-links.small-12.medium-4.medium-centered.columns
      %ul.inline-list
        %li
          %a.facebook{ href: 'https://facebook.com/mvpusedcars' }
        %li
          %a.twitter{ href: 'https://twitter.com/mvpusedcars' }
        %li
          %a.gplus{ href: 'https://plus.google.com/114770703043987053078/about' }
        %li
          %a.pinterest{ href: 'http://www.pinterest.com/mvpusedcars/' }
