= content_for :title do
  Misawa Used Cars - Misawa Auto Sales
%div#hero
  %header
    .row
      %h1
        Quality Cars for our U.S. Armed Forces
      %p
        Serving Misawa AFB's men and women for more then ten years.
      = link_to inventory_path do
        .button View Our Inventory
= render 'general_info'
%section#our-customers
  %h2.section-title
    Meet Our Customers
  .customers-row
  %ul.slides.hide-for-medium-down{ 'data-options' => 'resume_on_mouseout:true', data: {orbit: true} }
    %li
      - @reviews[0...3].each do |review|
        .customer-review
          .quote-meta
            .quote
              .inner
                %p
                  = truncate_review review
            .quotee
              .inner
                %p{ class: 'name' }
                  = review.customer
                %p{ class: 'purchased-car' }
                  = review.car
          .image
            .inner{ style: "background-image: url(#{review.photo.url(:medium)});" }
    %li
      - @reviews[3...6].each do |review|
        .customer-review
          .quote-meta
            .quote
              .inner
                %p
                  = truncate_review review
            .quotee
              .inner
                %p{ class: 'name' }
                  = review.customer
                %p{ class: 'purchased-car' }
                  = review.car
          .image
            .inner{ style: "background-image: url(#{review.photo.url(:medium)});" }
  %ul.small-block-grid-1.medium-block-grid-2.show-for-medium-down
    - @reviews[0...4].each do |review|
      %li
        .customer-review
          .quote-meta
            .quote
              .inner
                %p
                  = truncate_review review
            .quotee
              .inner
                %p{ class: 'name' }
                  = review.customer
                %p{ class: 'purchased-car' }
                  = review.car
          .image
            .inner{ style: "background-image: url(#{review.photo.url(:medium)});" }
%section#show-brands
  .row
    = image_tag 'https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/home/show-brands/car.svg', onerror: "this.onerror=null; this.src='https://s3-us-west-2.amazonaws.com/mvp-used-cars/images//home/show-brands/car.png'"
    %p
      Shop cars from all majors brands
    %p
      Toyota, Nissan, Mitsubishi, Subaru, and more...
    = link_to inventory_path do
      .button View our Inventory
