= content_for :title do
  Our Inventory - Subaru, Nissan, and More
%div#hero
  %header
    .row
      .small-6.small-centered.columns
        = image_tag 'inventory/header/car.svg', onerror: "this.onerror=null; this.src='/assets/inventory/header/car.png'"
      %h1
        Our Inventory
      %p
        Browse our current selection from the comfort of you computer
%section#cars
  .row
    .small-12.small-centered.columns
      %ul.small-block-grid-1.medium-block-grid-3
        -# iterate through @cars.each
          = @cars.each do |car|
            %li
              %p
                = car.year car.make car.model
              = link_to image_tag(car.image), car
        %li
          %p
            2000 Toyota Altezza
          = link_to image_tag('home/our-customers/customer1.jpg'), '#'
        %li
          %p
            2000 Toyota Altezza
          = link_to image_tag('home/our-customers/customer2.jpg'), '#'
        %li
          %p
            2000 Toyota Altezza
          = link_to image_tag('home/our-customers/customer3.jpg'), '#'
        %li
          %p
            2000 Toyota Altezza
          = link_to image_tag('home/our-customers/customer4.jpg'), '#'

%section#request-car
  .row
    %h2
      Can't Find what you're looking for?
    %p
      We can special order specific cars upon request
    = link_to inventory_path do
      .button Make a Request
