%header
  .row
    = scale_car_title(@car.make, @car.model)
%section#car-details
  #gallery
    .row
      .small-12.columns
        %ul.small-block-grid-2.medium-block-grid-3.clearing-thumbs(data-clearing)
          - @uploads.each do |u|
            %li
              = link_to image_tag(u.upload.url(:medium)), u.upload.url

  #info
    .row
      .small-6.medium-3.columns
        %p
          %span
            Make:
          %span
            = @car.make
        %p
          %span
            Model:
          %span
            = @car.model
      .small-6.medium-3.columns
        %p
          %span
            Year:
          %span
            = @car.year
        %p
          %span
            Seats:
          %span
            = @car.seats
      .small-6.medium-3.columns
        %p
          %span
            Transmission:
          %span
            = @car.transmission
        %p
          %span
            Drive:
          %span
            = @car.drive
      .small-6.medium-3.columns
        %p
          %span
            Interior:
          %span
            = @car.interior
        %p
          %span
            Exterior:
          %span
            = @car.exterior
%section#enquire
  = link_to contact_path(subject: "Enquiry: #{@car.year} #{@car.make} #{@car.model}", anchor: 'send-us-a-message'), class: 'button' do
    Enquire
    %br
    %span
      for more details
%section#view-more
  .row
    .small-12.small-centered.columns
      %h1
        View More
      %ul.small-block-grid-1.medium-block-grid-3
        - @cars.each do |car|
          %li
            %p
              = car.year
              = car.make
              = car.model
            = link_to image_tag(car.uploads.first.upload.url), car
