.fixed
  %nav#car-nav.top-bar(data-topbar)
    .nav-logo
      = link_to image_tag('simple-logo.png'), root_path
    %ul.title-area
      %li.name
        = link_to 'Inventory', inventory_path
    %section.top-bar-section
      %ul.right
        %li.divider
        %li
          = link_to(@previous) do
            %span.prev-main
            Prev
        %li.divider
        %li
          = link_to(@next) do
            Next
            %span.next-main

    %section#nav-prev-next.show-for-small-only
      %ul.right
        %li.prev-small
          = link_to '', @previous
        %li.next-small
          = link_to '', @next
