!!! 5

/[if lt IE 7]
  %html.no-js.lt-ie9.lt-ie8.lt-ie7{ lang: 'en' }
/[if IE 7]
  %html.no-js.lt-ie9.lt-ie8{ lang: 'en' }
/[if IE 8]
  %html.no-js.lt-ie9{ lang: 'en' }
/[if gt IE 8]
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title
      = content_for?(:title) ? yield(:title) + " | MVP Used Cars" : "MVP Used Cars"
    = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Lato:300,400,700"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body{ id: "#{@bodyid}" }
    -# render navigation based on if within one of the `pages` pages
    -# ie home, faq, about us, contact us
    = render  controller_name  == 'pages' ? 'layouts/nav_main' : 'layouts/nav_car_details'
    %main
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'
    = javascript_include_tag "application"
